body{
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
}
.anim{
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 30%;
    animation: x 4s infinite linear;
}
@keyframes x{
    0%{
        translate:0px 0px;
        rotate: 0deg;
        
    }
    25%{
        translate: 0 80vw;
        rotate: 90deg;
        background-color: aqua;
    }
    50%{
        translate: 80vw 80vw;
        rotate: 180deg;
        background-color: honeydew;
    }
    75%{
        translate: 80vw 0;
        rotate: 270deg;
        background-color: yellowgreen;
    }
    100%{
        translate: 0 0;
        rotate: 360deg;
        background-color: blue;
    }

}