body{
    background-color: #706b6b;
    font-family: Arial, sans-serif;
    margin: 0;
}
header{
    background-color: black;
    color: white;
    padding: 10px;
        border-radius: 0px 0px 25px 25px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

}
.header h1{
    margin: 0;
    font-family: serif;
}
#cate{
    padding: 10px;
    text-align: center;
    border-radius: 15px 0 0px 15px;
    border: none;
    background-color: darkgray;
    color: white;
    position: relative;
    left: 10px;
    border: none;
    cursor: pointer;
}
#cate option{
   padding: 5px;
   border-radius: 10px;
   background-color: darkgrey;
  color: black;
  cursor: pointer;
    
}

.search input{
    
    padding: 11px;
    border: none;
    
}
.btn-ser{
    background-color: darkgray;
    position: relative;
padding: 11px;
border-radius: 0 15px 15px 0;
cursor: pointer;
border: none;
position: relative;
left: -4px;
}
.btn-ser:hover{
    background-color: maroon;
    transition: background-color 1s ease;
    color: white;
     transition: color 1s ease;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
}